{% extends 'base.html' %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">
        Author: {{ author_name }}
    </li>
{% endblock %}
{% block main %}
    <h1>Author: {{ author_name }}</h1>
    {% for article in articles %}
        <li>
            <strong>{{ article.title }}</strong><br>
            Year: {{ article.year }}<br>
            <a href="{{ article.pubmed_link }}" target="_blank">Pubmed Link</a><br>
            Journal: <a href="{% url 'journal' article.journal_title %}">{{ article.journal_title }}</a><br>
            Authors:
            <ul>
                {% for author in article.articleauthor_set.all %}
                    <li><a href="{% url 'author' author.author_id.author_id %}">{{ author.author_id.author_name }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% for grant_info in article.articalegrant_set.all %}
                Grant info: {{ grant_info.grant.grant_val }}<br>
            {% endfor %}
            {% for coi in article.articlecoi_set.all %}
                Conflict of interest: {{ coi.coi_text }}<br>
            {% endfor %}
        </li>
    {% endfor %}
{% endblock %}