{% extends 'base.html' %}
{% block title %}Author: {{ author_name }}{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">
        <strong>Author: {{ author_name }}</strong>
    </li>
{% endblock %}
{% block table_rows %}
    <caption>List of Articles from this Author</caption>
    <thead>
    <tr>
        <th scope="col">Article Title</th>
        <th scope="col">Year</th>
        <th scope="col">PubMed Link</th>
        <th scope="col">Journal Title</th>
        <th scope="col">Authors</th>
        <th scope="col">Grant Info</th>
        <th scope="col">Conflict of interest</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
        <tr>
            <td>{{ article.title }}</td>
            <td>{{ article.year }}</td>
            <td><a href="{{ article.pubmed_link }}" target="_blank">Pubmed Link</a></td>
            <td><a href="{% url 'journal' article.journal_title %}">{{ article.journal_title }}</a></td>
            <td>
                <ul>
                    {% for author in article.articleauthor_set.all %}
                        <li>
                            <a href="{% url 'author' author.author_id.author_id %}">{{ author.author_id.author_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for grant_info in article.articalegrant_set.all %}
                        <li>
                            Grant info: {{ grant_info.grant.grant_val }}
                        </li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for coi in article.articlecoi_set.all %}
                        <li>
                            Conflict of interest: {{ coi.coi_text }}
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>

{% endblock %}