{% extends 'base.html' %}
{% block table_rows %}
    {% for journal in page_obj %}
        <tr>
            <td>{{ journal.0 }}</td>
            <td><a href="journal/{{ journal.1 }}">{{ journal.1 }}</a></td>
        </tr>

    {% endfor %}
{% endblock %}
{% block main %}
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">first</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                </li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="?page=1">first</a></li>
                <li class="page-item disabled"><a class="page-link" href="?page=1">&lt;</a></li>
            {% endif %}

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last</a>
                </li>
            {% else %}
                <li class="page-item disabled"><a class="page-link"
                                                  href="?page={{ page_obj.paginator.num_pages }}">&gt;</a></li>
                <li class="page-item disabled"><a class="page-link"
                                                  href="?page={{ page_obj.paginator.num_pages }}">last</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}